<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet, necesario para la API del clima -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso para acceder a la ubicación aproximada, para obtener el clima local -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permiso para controlar la cámara, necesario para la funcionalidad de la linterna -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Permiso para leer el almacenamiento interno -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- Permiso para leer el almacenamiento externo (aunque puede que no sea necesario con las prácticas modernas) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".EcoMarketApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FerreteriaHogar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FerreteriaHogar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
